<div id="slide2">
	<div class="checkerboard">
				
	</div>

	<div id="services">
		<h1>Ce que vous trouverez au salon des taxis</h1>
		<br>
		<div id="service-map">
			<%= image_tag "services.png" %>		
			<div id="legend-car">
				<p>Vous pourrez trouver votre nouveau <strong><a href="#" class="details" data-toggle="tooltip" data-placement="right" title="Citroen, Ford, Hyundai, Mercedes, Kia, Opel, Renault, Seat ...">véhicule</a></strong> au salon grâce à la présence de la plupart des constructeurs.</p>
			</div>
			<div id="legend-luminere">
				<p>Trouvez tous les <strong><a href="#" class="details" data-toggle="tooltip" data-placement="right" title="Alpha Taxis, G7, GAMMA, Visucab, ...">équipements</a></strong> et services dont vous avez besoin : lumineux, taximètres, etc.</p>
			</div>
			<div id="legend-smartphone">
				<p>Essayez aussi toutes les dernières applications <strong><a href="#" class="details" data-toggle="tooltip" data-placement="left" title="liste des applications de smartphones ...">Smartphone</a></strong> pour la réservation en direct de courses.</p>
			</div>
			<div id="legend-meeting">
				<p>Rencontrez tous les <strong><a href="#" class="details" data-toggle="tooltip" data-placement="right" title="Liste des professionnels du secteur ...">professionnels</a></strong> du secteur et assistez à de nombreuses <a href="#">conférences</a>.</p>
			</div>
			<div id="legend-financial">
				<p>Trouvez toutes les solutions de <strong><a href="#" class="details" data-toggle="tooltip" data-placement="left" title="Liste des professionnels du secteur ...">financement</a></strong> de votre activité.</p>
			</div>
		</div>
	</div>

</div>